In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('MovieCommentsWithSentimentScore.csv')
df.head()

,ID,Title,Trailer ID,Comment,Sentiment,SentimentScore
0,0,Daybreakers,U6NmZS9CTKE,Very few trailers give me goosebumps- but this...,POSITIVE,0.642857
1,0,Daybreakers,U6NmZS9CTKE,One of the best vampire movies of the past dec...,POSITIVE,0.642857
2,0,Daybreakers,U6NmZS9CTKE,This movie isn't about vampires but about real...,POSITIVE,0.642857
3,0,Daybreakers,U6NmZS9CTKE,So original so different very good vampire film,POSITIVE,0.642857
4,0,Daybreakers,U6NmZS9CTKE,Why didn’t they use this song in the ending cr...,POSITIVE,0.642857

In [16]:
df = df.drop('Comment', axis=1)
df.head()

   ID        Title   Trailer ID Sentiment  SentimentScore
0   0  Daybreakers  U6NmZS9CTKE  POSITIVE        0.642857
1   0  Daybreakers  U6NmZS9CTKE  POSITIVE        0.642857
2   0  Daybreakers  U6NmZS9CTKE  POSITIVE        0.642857
3   0  Daybreakers  U6NmZS9CTKE  POSITIVE        0.642857
4   0  Daybreakers  U6NmZS9CTKE  POSITIVE        0.642857

In [17]:
df = df.drop('Sentiment', axis=1)
df.head()

   ID        Title   Trailer ID  SentimentScore
0   0  Daybreakers  U6NmZS9CTKE        0.642857
1   0  Daybreakers  U6NmZS9CTKE        0.642857
2   0  Daybreakers  U6NmZS9CTKE        0.642857
3   0  Daybreakers  U6NmZS9CTKE        0.642857
4   0  Daybreakers  U6NmZS9CTKE        0.642857

In [18]:
df.drop_duplicates(subset='ID', keep='first', inplace=True)
df.head()

     ID            Title   Trailer ID  SentimentScore
0     0      Daybreakers  U6NmZS9CTKE        0.642857
14    1        Leap Year  HrlQBsd8LsE        0.830000
114   2  Youth in Revolt  1gBnVf130uU        0.780000
214   3  Wonderful World  n2_4asPVgOQ        0.500000
232   4  The Book of Eli  zSMHmtaoXtI        0.880000

In [19]:
df.to_csv('MovieCommentsWithSentimentScoreCleaned.csv', index=False)